.button {
    padding-block: 0.85rem;
    padding-inline: 1.125rem;
    border-radius: 1.125rem;
}

.button__primary--custom {
    width: fit-content;
    font-weight: 700;
    padding-block: 1.125rem;
    padding-inline: 1.75rem;
    border: 2px solid var(--black);
    background-color: var(--black);
}

.button__secondary {
    border: 2px solid var(--gray);
}

.button__secondary--custom {
    display: block;
}

:is(.button, .button--custom):active {
    color: var(--black);
    border-color: var(--black);
}

.button__primary--custom:active {
    color: var(--black);
    background-color: unset;
}