.description {
    position: relative;
    display: flex;
    flex-basis: 50%;
    height: 650px;
    justify-content: center;
    flex-direction: column;
    padding-inline: 7rem;
    gap: clamp(1rem, 4vw, 1.5rem);
}

.description__title {
    font-size: clamp(2rem, 6vw, 6rem);
    font-weight: 700;
    line-height: 1;
    margin-block: 0;
}

.description__text {
    width: 80%;
    font-size: var(--paragraph);
    line-height: 1.5;
    font-weight: 400;
}

.description__sponsored {
    position: absolute;
    bottom: 0px;
    display: flex;
    object-fit: contain;
    align-items: center;
    gap: 2rem;
}

.description__company {
    height: 18px;
}

@media (max-width: 900px) {
    .description {
        padding-inline: 0;
        align-items: center;
        gap: 1rem;
    }

    .description__text {
        text-align: center;
        width: 100%;
    }

    .description__sponsored {
        padding-top: 3rem;
        gap: 1rem;
        position: relative;
        width: fit-content;
    }
}