.dropdown {
    position: relative;
    display: inline;
}

.dropdown__select {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 0.25rem;
}

.dropdown__arrow-up {
    display: none;
}

.dropdown__arrow-down {
    display: inline-block;
}

.dropdown__item {
    position: absolute;
    display: none;
    line-height: 2;
    width: max-content;
    margin-block-start: 1rem;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: white;
}

.dropdown__item--custom {
    flex-direction: column;
    align-items: flex-start;
    padding-block-start: 1.5rem;
    padding-inline: 2rem;
    gap: 1.5rem;
}

.dropdown__item--custom .sidebar__active-item {
    display: flex;
}

.dropdown__flex {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
}

.dropdown__block {
    display: block;
    text-decoration: none;
}

.dropdown__item a:is(:hover, :active) {
    color: var(--black);
}

.active {
    display: block;
}

.dropdown__select:focus {
    color: var(--black);
}

.dropdown__select:focus .dropdown__arrow-down {
    display: none;
}

.dropdown__select:focus .dropdown__arrow-up {
    display: inline-block;
}