.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    padding: 1rem;
    background-color: var(--white);
    z-index: 999;
}

.sidebar__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 988;
    display: none;
    backdrop-filter: brightness(40%);
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.sidebar__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sidebar__menu {
    display: none;
}

.sidebar__menu-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 900px) {
    .sidebar__menu {
        display: inline-block;
    }
}